<ion-view title="Appendectomy Blueprint" id="page6" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <h4 id="appendectomyBlueprint-heading4" style="color:#000000;text-align:center;">Patient Details</h4>
    <ion-list id="appendectomyBlueprint-list8">
      <ion-item class="item-avatar" id="appendectomyBlueprint-list-item6" ui-sref="menu.patientDetails">
        <img src="img/aP5Q4QIvSeO6pMeGLrDO_JohnDoe.jpg">
        <h2>John Doe</h2>
        <p>Age: 36</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="appendectomyBlueprint-heading1" style="color:#000000;text-align:center;">Team</h4>
    <ion-list id="appendectomyBlueprint-list11">
      <ion-item class="item-avatar" id="appendectomyBlueprint-list-item12">
        <img src="img/JJbZ8QiSiqQGmfXI8aBX_Earl.JPG">
        <h2>Surgeon</h2>
        <p>Earl Co</p>
      </ion-item>
      <ion-item class="item-avatar" id="appendectomyBlueprint-list-item18">
        <img src="img/pF8chYZQ21YfEKgmKWZA_X2sJsL0QPKe3e4zgx1cp_Professional1.jpg">
        <h2>Anesthesiologist</h2>
        <p>Devon Powell</p>
      </ion-item>
      <ion-item class="item-avatar" id="appendectomyBlueprint-list-item19">
        <img src="img/uz5OSkH0QfaTVQeVkPBJ_Ben.jpg">
        <h2>Resident</h2>
        <p>Benjamin Rizkin</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="appendectomyBlueprint-heading3" style="color:#000000;text-align:center;">Special Considerations</h4>
    <div class="item item-body" id="appendectomyBlueprint-list-item-container9">
      <div id="appendectomyBlueprint-markdown22" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Surgeon</strong> - Include plain Adson tissue forceps 15 cm</p>

        <p style="color:#000000;">
          <strong>Surgeon</strong> - Include Mayo scissors 14cm, curved</p>

        <p style="color:#000000;">
          <strong>Resident</strong> - Include Allis intestinal forceps 15 cm</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="appendectomyBlueprint-heading5" style="color:#000000;text-align:center;">Anesthesia</h4>
    <div class="item item-body" id="appendectomyBlueprint-list-item-container10">
      <div id="appendectomyBlueprint-markdown23" class="show-list-numbers-and-dots">
        <ul>
          <li>0.5% bupivacaine heavy, 3.2 mL</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="appendectomyBlueprint-heading6" style="color:#000000;text-align:center;">Surgical Instrumentation Layout</h4>
    <div class="item item-body" id="appendectomyBlueprint-list-item-container11">
      <div id="appendectomyBlueprint-markdown24" class="show-list-numbers-and-dots">
        <ul>
          <li>#10 blade x1</li>
          <li>#15 blade x2</li>
          <li>0 &amp; 2-0 silk ties</li>
          <li>2-0 silk on V-26</li>
          <li>2-0 silk pop-offs</li>
          <li>2-0 vicryl ct-1</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="appendectomyBlueprint-heading7" style="color:#000000;text-align:center;">Room Visualization</h4>
    <div>
      <a style="display:block;" ui-sref="menu.oR10">
        <img src="img/S4QujBN1TQabeYbNGxUx_ORrendering2.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <form id="appendectomyBlueprint-form8" class="list">
      <ion-checkbox id="appendectomyBlueprint-checkbox2" onclick="return false;" ng-checked='true'>Anesthesiologist</ion-checkbox>
      <ion-checkbox id="gastrectomyBlueprint-checkbox4" onclick='return false;' ng-checked='true'>Surgeon</ion-checkbox>
    </form>
    <button id="appendectomyBlueprint-button4" class="button button-balanced  button-block">Validated!</button>
  </ion-content>
</ion-view>