<ion-view title="Earl's Surgical Schedule" hide-back-button="true" id="page5" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-icon-left" id="earlSSurgicalSchedule-list-item7" ui-sref="menu.appendectomyBlueprint">
        <i class="icon ion-android-checkbox-outline"></i>7:30 AM - Appendectomy - OR10</ion-item>
<!--       <div class="spacer" style="width: 748px; height: 25px;"></div> -->
      <ion-item class="item-icon-left" id="earlSSurgicalSchedule-list-item9" ui-sref="menu.gastrectomyBlueprint">
        <i class="icon ion-android-checkbox-outline-blank"></i>5:30 PM - Gastrectomy - OR22</ion-item>
<!--       <ion-item class="item-icon-left" id="earlSSurgicalSchedule-list-item9" ui-sref="menu.gastrectomyBlueprint">
        <i class="icon ion-android-checkbox-outline-blank"></i>6:00 PM - Heller myotomy - OR11</ion-item>
      <ion-item class="item-icon-left" id="earlSSurgicalSchedule-list-item9" ui-sref="menu.gastrectomyBlueprint">
        <i class="icon ion-android-checkbox-outline-blank"></i>6:30 PM - Tonsillectomy - OR19</ion-item> -->
    </ion-list>
  </ion-content>
</ion-view>