<ion-view title="Gastrectomy" id="page10" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <h4 id="gastrectomy-heading16" style="color:#000000;text-align:center;">Patient Details</h4>
    <ion-list id="gastrectomy-list23">
      <ion-item class="item-avatar" id="gastrectomy-list-item45" ui-sref="menu.patientDetails2">
        <img src="img/Me7zeiPS2KSUHxpTGXwg_JaneDoe.jpg">
        <h2>Jane Doe</h2>
        <p>Age: 34</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="gastrectomy-heading17" style="color:#000000;text-align:center;">Team</h4>
    <ion-list id="gastrectomy-list24">
      <ion-item class="item-avatar" id="gastrectomy-list-item46">
        <img src="img/JJbZ8QiSiqQGmfXI8aBX_Earl.JPG">
        <h2>Surgeon</h2>
        <p>Earl Co</p>
      </ion-item>
      <ion-item class="item-avatar" id="gastrectomy-list-item47">
        <img src="img/X2sJsL0QPKe3e4zgx1cp_Professional1.jpg">
        <h2>Anesthesiologist</h2>
        <p>Devon Powell</p>
      </ion-item>
      <ion-item class="item-avatar" id="gastrectomy-list-item48">
        <img src="img/uz5OSkH0QfaTVQeVkPBJ_Ben.jpg">
        <h2>Resident</h2>
        <p>Benjamin Rizkin</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="gastrectomy-heading18" style="color:#000000;text-align:center;">Changes to Typical Operation</h4>
    <div class="item item-body" id="gastrectomy-list-item-container12">
      <div id="gastrectomy-markdown25" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Surgeon</strong> - Include plain Adson tissue forceps 15 cm</p>

        <p style="color:#000000;">
          <strong>Surgeon</strong> - Include Mayo scissors 14cm, curved</p>

        <p style="color:#000000;">
          <strong>Resident</strong> - Include Allis intestinal forceps 15 cm</p>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="gastrectomy-heading19" style="color:#000000;text-align:center;">Anesthesia</h4>
    <div class="item item-body" id="gastrectomy-list-item-container13">
      <div id="gastrectomy-markdown26" class="show-list-numbers-and-dots">
        <ul>
          <li>0.5% bupivacaine heavy, 3.2 mL</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="gastrectomy-heading20" style="color:#000000;text-align:center;">Surgical Instrumentation Layout</h4>
    <div class="item item-body" id="gastrectomy-list-item-container14">
      <div id="gastrectomy-markdown27" class="show-list-numbers-and-dots">
        <ul>
          <li>#10 blade x1</li>
          <li>#15 blade x2</li>
          <li>0 &amp; 2-0 silk ties</li>
          <li>2-0 silk on V-26</li>
          <li>2-0 silk pop-offs</li>
          <li>2-0 vicryl ct-1</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <h4 id="gastrectomy-heading21" style="color:#000000;text-align:center;">Room Visualization</h4>
    <div>
      <img src="img/S4QujBN1TQabeYbNGxUx_ORrendering2.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <button id="gastrectomy-button5" class="button button-positive  button-block">Validate</button>
  </ion-content>
</ion-view>