<ion-view title="Patient Details" id="page9" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <ion-list id="patientDetails2-list19">
      <ion-item class="item-avatar" id="patientDetails2-list-item37">
        <img src="img/svKJX7e5Q9dFKn8OmDTu_JaneDoe.jpg">
        <h2>Jane Doe</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="patientDetails2-list20">
      <ion-item id="patientDetails2-list-item38">DOB: 04-07-1978</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="patientDetails2-list21">
      <ion-item id="patientDetails2-list-item39">BMI: 24</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div class="item item-body" id="patientDetails2-list-item-container15">
      <div id="patientDetails2-markdown31" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Allergies:</strong>
        </p>

        <ul>
          <li>Peanuts</li>
          <li>Grass seed</li>
          <li>Bupivacaine</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div id="patientDetails2-container2">
      <div class="item item-body" id="patientDetails2-list-item-container16">
        <div id="patientDetails2-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Medical Conditions:</strong>
          </p>

          <ul>
            <li>Irritable Bowel Syndrome</li>
            <li>Anemia</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>