<ion-view title="Stryker Login" hide-back-button="true" id="page1" style="background-color:#6FDBDE;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="strykerLogin-form2" class="list">
      <label class="item item-input" id="strykerLogin-input4">
        <span class="input-label">Username</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="strykerLogin-input6">
        <span class="input-label">Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <a ui-sref="menu.surgicalBlueprint" id="strykerLogin-button6" class="button button-positive  button-block">Login</a>
  </ion-content>
</ion-view>