<ion-view title="Surgical Blueprint" hide-back-button="true" id="page5" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <form id="surgicalBlueprint-form1" class="list">
      <ion-item class="item-icon-left" id="surgicalBlueprint-list-item7" ui-sref="menu.appendectomy">
        <i class="icon ion-android-checkbox-outline"></i>7:30 AM - Appendectomy - OR10</ion-item>
      <div class="spacer" style="width: 748px; height: 25px;"></div>
      <ion-item class="item-icon-left" id="surgicalBlueprint-list-item9" ui-sref="menu.gastrectomy">
        <i class="icon ion-android-checkbox-outline-blank"></i>5:30 PM - Gastrectomy - OR22</ion-item>
    </form>
  </ion-content>
</ion-view>