<ion-view title="Logged Out" id="page12" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="loggedOut-list-item-container21">
      <div id="loggedOut-markdown38" style="text-align:center;" class="show-list-numbers-and-dots">
        <h1>You have logged out!</h1>
      </div>
    </div>
    <a ui-sref="strykerLogin" id="loggedOut-button7" class="button button-positive  button-block">Log back in</a>
  </ion-content>
</ion-view>