<ion-view title="Patient Details" id="page7" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <ion-list id="patientDetails-list12">
      <ion-item class="item-avatar" id="patientDetails-list-item20">
        <img src="img/rqDrRkTXmaadOGZMIYfA_JohnDoe.jpg">
        <h2>John Doe</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="patientDetails-list13">
      <ion-item id="patientDetails-list-item21">DOB: 06-17-1980</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="patientDetails-list14">
      <ion-item id="patientDetails-list-item22">BMI: 25</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div class="item item-body" id="patientDetails-list-item-container17">
      <div id="patientDetails-markdown33" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Allergies:</strong>
        </p>

        <ul>
          <li>Hypertension</li>
          <li>Diabetes</li>
        </ul>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div class="item item-body" id="patientDetails-list-item-container18">
      <div id="patientDetails-markdown34" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Medical Conditions:</strong>
        </p>

        <ul>
          <li>Hypertension</li>
          <li>Diabetes</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>