<ion-view title="Profile Settings" id="page2" style="background-color:#6FDBDE;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="profileSettings-card23">
      <ion-item id="profileSettings-list-item43">Earl Co</ion-item>
      <div class=" item item-image">
        <img src="img/rrU4nF2SQeD3TsrhS0dK_Earl.JPG" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="profileSettings-list-item-container7">
        <div id="profileSettings-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Summary: I love to help people. My passion for the health industry has led me to my current career as a surgeon.</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <ion-list id="profileSettings-list27">
      <ion-item id="profileSettings-list-item53">Specialty: Gastrointestinal surgery</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <ion-list id="profileSettings-list28">
      <ion-item id="profileSettings-list-item54">Email: email@nyumc.org</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 21px;"></div>
    <button id="profileSettings-button3" class="button button-positive  button-block">Change Password</button>
  </ion-content>
</ion-view>